name: Auto PR via master

on:
  push: #it serve as a trigger
    branches:
      - 'hotfix/**'
      - 'bug/**'

jobs: #top-level container that groups the tasks this workflow will run
  create-pull-request: #unique identifier I've given to this specific job
    runs-on: ubuntu-latest #specifies the runner to use
    permissions: #this defines what the automated GITHUB_TOKEN is allowed to do
      pull-requests: write #allows job to create and edit PRs.
      contents: write #allows job to create a new branch
    steps: #list of task that will run in order inside the Ubuntu runner
      - name: Checkout code 
        uses: actions/checkout@v4

      - name: Create PR using GitHub CLI
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TEST_BRANCH: "deploy"
          # ASSIGNEE_USER: "peterpaularetex-creator" 
          REVIEWER_1: "peterpaularetex-creator"
          REVIEWER_2: "Aaron-anime"
        run: |
        
          BRANCH_NAME="${GITHUB_REF#refs/heads/}"
          
          if [[ "$BRANCH_NAME" == bug/* ]]; then
            PR_LABEL="bug"
          elif [[ "$BRANCH_NAME" == hotfix/* ]]; then
            PR_LABEL="hotfix"
          elif [[ "$BRANCH_NAME" == enhancement/* ]]; then
            PR_LABEL="enhancement"
          elif [[ "$BRANCH_NAME" == duplicate/* ]]; then
            PR_LABEL="duplicate"
          else
            PR_LABEL="documentation" 
          fi
          
          gh pr create \
            --title "Automated PR: $BRANCH_NAME" \
            --body "This PR was automatically generated for branch $BRANCH_NAME." \
            --base "$TEST_BRANCH" \
            --head "$BRANCH_NAME" \
            --label "$PR_LABEL" \
            --reviewer "$REVIEWER_1,$REVIEWER_2" \
            --assignee "${{ github.actor }}"